<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>[title]</title>
    <meta name="keywords" content="[keywords]" />
    <meta name="description" content="[description]" />
    <link rel="icon" href="../../favicon.ico">
    <!-- Bootstrap -->
    <load href='__PUBLIC__/Lib/bootstrap/css/bootstrap.min.css' />
    <load href='__PUBLIC__/Lib/overlay/css/prettify.css' />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <load href='__PUBLIC__/Js/jquery-2.2.3.min.js' />
    <!-- Bootstrap -->
    <load href='__PUBLIC__/Lib/bootstrap/js/bootstrap.min.js' />
    <load href='__PUBLIC__/Lib/bootstrap/js/bootbox.min.js' />
    <!-- Bootstrap -->
    <!--过渡代码-->
    <load href='__PUBLIC__/Lib/overlay/css/iosOverlay.css' />
    <load href='__PUBLIC__/Lib/overlay/js/iosOverlay.js' />
    <!--过渡代码-->
    <load href='__PUBLIC__/Lib/overlay/js/modernizr-2.0.6.min.js' />
    <load href='__PUBLIC__/Lib/overlay/js/prettify.js' />
    <load href='__PUBLIC__/Lib/overlay/js/spin.min.js' />
    <load href='__PUBLIC__/Js/jquery.serializeObject.min.js' />
    <load href='__PUBLIC__/Js/validator.min.js' />
    <load href='__PUBLIC__/Js/app.js' />
    <!--回到顶部-->
    <load href='__PUBLIC__/Css/back-top.css' />
    <load href='__PUBLIC__/Js/back-top.js' />
    <!--回到顶部-->
    <!--固定页面元素-->
    <load href='__PUBLIC__/Lib/pin-pages/jquery.pin.min.js' />
    <!--固定页面元素end-->
    <!--font-awesome图标-->
    <load href='__PUBLIC__/Lib/font-awesome/css/font-awesome.min.css' />
    <!--[if IE 7]>
    <load href='__PUBLIC__/Lib/font-awesome/css/font-awesome-ie7.min.css' />
    <![endif]-->
    <!--全选-->
    <load href='__PUBLIC__/Js/global-function.js' />
    <!--全选 end-->
    <!--上传图片-->
    <load href='__PUBLIC__/Js/dropzone.js' />
    <!--上传图片-end-->
